<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a th:href="@{movies/insertMovie}">Insertar Película</a>
    <ul>
        <a th:each="movie : ${movies}" th:href="@{${'/movies/' + movie.id}}">
            <li th:text="${movie.title}" ></li>
            <form action="#" th:action="@{${'/movies/' + movie.id}}" th:method="delete" style="display: inline;">
                <button type="submit">
                    Borrar
                </button>
            </form>
            <form action="#" th:action="@{'/movies/updateMovie/{id}' (id=${movie.id})}" style="display: inline;">
                <button type="submit">
                    Actualizar
                </button>
            </form>
        </a>
    </ul>
    <ul>
        <a th:each="page : ${pages}" th:href="@{${'/movies/?page=' + movie.id}}">
            <span th:text="${page}">HOla</span>
        </a>
    </ul>
    <a th:href="@{/}">Back</a>
</body>
</html>